body {
    background-color: #000000;
}

#top-container {
    height: 100px;
    background-color: rgba(24, 13, 82, 0.75);
    border-style: none none solid none;
}

#mid-container {
    height: 500px;
    background-color: black;
}

#game-container {
    height: 200px;
    background-color: black;
}

#audio-container {
    height: 100px;
    background-color: black
}

#quote_player {

}

#quote-container {
    height: 100px;
    border-color: black;
    background-color: navajowhite;
}
#answers-container {
    height: 75px;
    border-color: black;
    background-color: navajowhite;
}

#left-container {
    width: 125px;
    height: 500px;
    background-color: #141313;
    border-style: none solid none none;
    float: left;
}

#right-container {
    width: 125px;
    height: 500px;
    background-color: #141313;
    border-style: none none none solid;
    float: right;
}

#players {
    list-style-type: none;
    color: grey;
}

#questionText {
    color: darkkhaki;
}